/* курсоры построителя*/
.cursor-pen-freehand    { cursor: url('cursor-pen-freehand.png') 5 2, default; }
.cursor-lay-impost      { cursor: url('cursor-lay-impost.png') 7 7, default; }
.cursor-arrow-lay       { cursor: url('cursor-arrow-lay.png') 1 1, default; }
.cursor-arrow-ruler     { cursor: url('cursor-arrow-ruler.png') 3 1, default; }
.cursor-arrow-ruler-light { cursor: url('cursor-arrow-ruler-light.png') 3 1, default; }
.cursor-pen-adjust      { cursor: url('cursor-pen-adjust.png') 5 2, default; }
.cursor-zoom-in         { cursor: url('cursor-zoom-in.png') 7 7, default; }
.cursor-zoom-out        { cursor: url('cursor-zoom-out.png') 7 7, default; }
.cursor-hand            { cursor: url('cursor-hand.png') 10 10, default; }
.cursor-hand-grab       { cursor: url('cursor-hand-grab.png') 10 10, default; }
.cursor-arc             { cursor: url('cursor-arc-r.png') 6 10, default; }
.cursor-arc-arrow       { cursor: url('cursor-arc-r-active.png') 3 7, default; }
.cursor-arrow-black     { cursor: url('cursor-arrow-black.png') 2 2, default; }
.cursor-arrow-black-point { cursor: url('cursor-arrow-black-point.png') 2 2, default; }
.cursor-arrow-black-shape { cursor: url('cursor-arrow-black-shape.png') 2 2, default; }
.cursor-arrow-white     { cursor: url('cursor-arrow-white.png') 2 2, default; }
.cursor-arrow-white-point { cursor: url('cursor-arrow-white-point.png') 2 2, default; }
.cursor-arrow-white-shape { cursor: url('cursor-arrow-white-shape.png') 2 2, default; }
.cursor-arrow-small     { cursor: url('cursor-arrow-small.png') 2 2, default; }
.cursor-arrow-small-point { cursor: url('cursor-arrow-small-point.png') 2 2, default; }
.cursor-text            { cursor: url('cursor-text.png') 2 2, default; }
.cursor-text-add        { cursor: url('cursor-text-add.png') 2 2, default; }
.cursor-text-select     { cursor: url('cursor-text-select.png') 2 2, default; }