# Editor files
.idea
.vscode
.nyc_output

# TODO
.github

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Exclude compiled files
/build
/.eslintcache
/src/public/data/
/server/mdm/cache/
/scripts/stats.json
!/server/mdm/cache/.gitkeep

# misc
.DS_Store
.env.*

*.log
*.lock
