# Created by .ignore support plugin (hsz.mobi)
.idea/
build/
data/.idea/
data/11.js
data/_design.json
data/imgs/
data/mango.js
data/merged_wb_templates.js
data/merged_wb_tips.js
data/sync.json
dist/windowbuilder.css
dist/windowbuilder.js
dist/wnd_debug.js
dist/worker.js
doc/out/
lib/
localstorage/
node_modules/
src/metadata-ui
src/templates/imgs
src/templates/printing_plates/20160408/
src/templates/printing_plates/invoice_signature.png
src/zarchive/socket_1c/
v2/
