.md_column320 {
	width: 48%;
	min-width: 320px;
	float: left;
	padding: 8px;
}

.md_column320 h3 {
	margin: 0 0 8px 0;
}

.md_column300 {
	width: 24%;
	min-width: 300px;
	float: left;
	padding: 4px;
}

.md_column1300 {
	width: 92%;
	max-width: 1300px;
	position: relative;
	left: 50%;
	margin-left: -46%;
	font-size: 90%;
	line-height: normal;
}
.md_column1300>ul {
	padding-left: 20px;
	margin: 0 0 0.5em 0;
}
.md_column1300>p, .md_column1300>h1, .md_column1300>h2, .md_column1300>h3 {
	margin: 0.2em 0 0.4em 0;
}

.md_muted_color {
	color: #636773;
}

.md_otbnav {
	position: fixed;
	padding: 0;
	margin: 0;
	background: transparent;
}

.md-fa-lg {
	font-size: 130%;
	vertical-align: 25%;
}

.label_options{
	padding-top: 12px !important;
	/* border-bottom: 1px solid #ddd; */
}

.dhx_cell_editor .dhx_cell_stb{
	display: none;
}

.span_user {
	font-size: smaller;
	text-decoration: underline;
	float: right;
	line-height: 22px;
	padding-right: 2px;
	word-break: break-all;
}

.mousepos {
	position: absolute;
	left: 4px;
	bottom: 4px;
	background: rgba(255,255,255,.8);
	font-size: 90%;
	padding: 0px 4px;
}

.ortpos {
  position: absolute;
  right: 4px;
  top: 4px;
  background: rgba(255,255,255,.8);
  transform: rotate(15deg);
  padding: 0px 4px;
  font-size: larger;
  cursor: help;
}

.pen_cont {
	position: absolute;
	font-size: 90%;
	padding: 0;
}
.pen_cont input{
	width: 60px;
	border: none;
	margin: 0 8px 4px 4px;
}
.pen_cont input[type=button]{
	width: 100%;
}
.pen_cont table, .pen_cont tr, .pen_cont td{
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
}
.handsontable_wrapper {
	width: 100%;
	height: 100%;
	font-size: 90%;
}
.dhtmlx_message_area {
  width: 380px;
}

.rsvg_elm {
  float: left;
  height: 86px;
  margin-left:  1px;
  padding-left:  4px;
  padding-right:  4px;
  cursor: pointer
}
.rsvg_selected {
  border: 1px silver solid;
  height: 84px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 12px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 12px 3px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 12px 3px rgba(0,0,0,0.4);
}
