<div class="clipper editor_accordion">

    <div class="scroller">
        <div class="container">

            <!-- РАЗДЕЛ 1 - дерево слоёв -->
            <div class="header">
                <div class="header__title" name="header_layers"></div>
            </div>
            <div name="content_layers" style="min-height: 200px;"></div>

            <!-- РАЗДЕЛ 2 - реквизиты элемента -->
            <div class="header">
                <div class="header__title" name="header_elm"></div>
            </div>
            <div name="content_elm" style="min-height: 260px;"></div>

            <!-- РАЗДЕЛ 3 - реквизиты створки -->
            <div class="header">
                <div class="header__title" name="header_stv">
                    <span name="title">Створка</span>
                </div>
            </div>
            <div name="content_stv" style="min-height: 200px;"></div>

            <!-- РАЗДЕЛ 4 - реквизиты изделия -->
            <div class="header">
                <div class="header__title" name="header_props">
                    <span name="title">Изделие</span>
                </div>
            </div>
            <div name="content_props" style="min-height: 330px;"></div>

        </div>
    </div>

    <div class="scroller__track">
        <div class="scroller__bar" style="height: 26px; top: 0px;"></div>
    </div>

</div>