<div class="clipper editor_accordion">

    <div class="scroller">
        <div class="container">

            <!-- РАЗДЕЛ 1 - дерево слоёв -->
            <div class="header">
                <div class="header__title" name="header_layers" style="font-weight: normal;"></div>
            </div>
            <!-- Здесь содержимое ячейки -->
            <div name="content_layers">

            </div>

            <!-- РАЗДЕЛ 2 - реквизиты изделия -->
            <div class="header">
                <div class="header__title" name="header_props">
                    <span name="title">Изделие</span>
                </div>
            </div>
            <!-- Здесь содержимое ячейки -->
            <div name="content_props" style="height: 100%; min-height: 300px;">

            </div>

        </div>
    </div>

    <div class="scroller__track">
        <div class="scroller__bar" style="height: 26px; top: 0px;"></div>
    </div>

</div>