<div class="md_column1300">
    <h1><i class="fa fa-info-circle"></i> Окнософт: Заказ дилера</h1>
    <p>Заказ дилера - это веб-приложение с открытым исходным кодом, разработанное компанией <a href="http://www.oknosoft.ru/" target="_blank">Окнософт</a> на базе фреймворка <a href="http://www.oknosoft.ru/metadata/" target="_blank">Metadata.js</a><br />
        Исходный код и документация доступны на <a href="https://github.com/oknosoft/windowbuilder" target="_blank">GitHub <i class="fa fa-github-alt"></i></a>.<br />
    </p>

    <h3>Назначение и возможности</h3>
    <ul>
        <li>Построение и редактирование эскизов изделий в графическом 2D редакторе</li>
        <li>Экстремальная поддержка нестандартных изделий (многоугольники, сложные перегибы профиля)</li>
        <li>Расчет спецификации и координат технологических операций</li>
        <li>Расчет цены и плановой себестоимости изделий по произвольным формулам с учетом индивидуальных дилерских скидок и наценок</li>
        <li>Формирование печатных форм для заказчика и производства</li>
        <li>Поддержка автономной работы при отсутствии доступа в Интернет и прозрачного обмена с сервером при возобновлении соединения</li>
    </ul>

    <p>Использованы следующие библиотеки и инструменты:</p>

    <h3>Серверная часть</h3>
    <ul>
        <li><a href="http://couchdb.apache.org/" target="_blank">CouchDB</a>, NoSQL база данных с поддержкой master-master репликации</li>
        <li><a href="http://nginx.org/ru/" target="_blank">nginx</a>, высокопроизводительный HTTP-сервер</li>
        <li><a href="http://1c-dn.com/1c_enterprise/" target="_blank">1c_enterprise</a>, ORM сервер 1С:Предприятие</li>
    </ul>

    <h3>Управление данными в памяти браузера</h3>
    <ul>
        <li><a href="https://pouchdb.com/" target="_blank">PouchDB</a>, клиентская NoSQL база данных с поддержкой автономной работы и репликации с CouchDB</li>
        <li><a href="https://github.com/agershun/alasql" target="_blank">alaSQL</a>, база данных SQL для браузера и Node.js с поддержкой как традиционных реляционных таблиц, так и вложенных JSON данных (NoSQL)</li>
    </ul>

    <h3>UI библиотеки и компоненты интерфейса</h3>
    <ul>
        <li><a href="http://paperjs.org/" target="_blank">paper.js</a>, фреймворк векторной графики для HTML5 Canvas</li>
        <li><a href="http://dhtmlx.com/" target="_blank">dhtmlx</a>, кроссбраузерная библиотека javascript для построения современных веб и мобильных приложений</li>
        <li><a href="https://github.com/Diokuz/baron" target="_blank">baron</a>, компонент управления полосами прокрутки</li>
        <li><a href="https://jquery.com/" target="_blank">jQuery</a>, популярная JavaScript библиотека селекторов и событий DOM</li>
        <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">filesaver.js</a>, HTML5 реализация метода saveAs</li>
        <li><a href="https://github.com/SheetJS/js-xlsx" target="_blank">xlsx</a>, библиотека для чтения и записи XLSX / XLSM / XLSB / XLS / ODS в браузере</li>
    </ul>

    <h3>Графика</h3>
    <ul>
        <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">fontawesome</a>, набор шрифтовых иконок</li>
    </ul>

    <p>&nbsp;</p>
    <h2><i class="fa fa-question-circle"></i> Вопросы</h2>
    <p>Если обнаружили ошибку, пожалуйста,
        <a href="https://github.com/oknosoft/windowbuilder/issues/new" target="_blank">зарегистрируйте вопрос в GitHub</a> или
        <a href="http://www.oknosoft.ru/metadata/#page-118" target="_blank">свяжитесь с разработчиком</a> напрямую<br /></p>
    <p>&nbsp;</p>

</div>