
.progress {
  margin: 40px auto auto auto !important;
  display: block !important;
}

.paper {
  min-width: 280px !important;
  margin: auto !important;
  max-width: 800px !important;
  padding-top: 18px !important;
}

.button {
  margin: 18px 18px 0 0
}

.sub_paper {
  padding: 18px;
}

.cont {
  padding: 8px;
}

