<!-- Заголовок, шапка отчета -->
<div id='header' class='header'>
  <div style="font-weight: bold; font-size: 14pt; float: left; padding:10pt; clear: both ">
    Эскизы заполнений расчета №#ЗаказНомер# <br>
  </div>
</div>

<!-- Эскиз изделия + ячейка описания -->
<div id='product' style="clear: both; padding: 4pt; border-top: gainsboro 1px dashed; margin-top: 4pt;">

  <div style="width: 50%; height: 200px; float: left">
    эскиз
  </div>

  <div style="width: 49%; float: left">
    Описание
  </div>

</div>

