<!-- Заголовок, шапка отчета -->
<div id='header' class='container'>
    <h3 class='text-center'>Договор №#ДоговорНомер#<br />купли-продажи изделий из ПВХ и алюминия</h3>
    <div class='block-left'>г. #ОрганизацияГород#</div>
    <div class='block-right'>#ДоговорДатаФорматD#г.</div>

    <p class='clear-both'>&nbsp;</p>
    <p>
        #Организация#, в лице #СотрудникДолжностьРП# #СотрудникФИОРП#, действующего на основании #СотрудникОснованиеРП#,
        именуемый в дальнейшем «Продавец»,  с одной стороны, и #Контрагент# паспорт серии #ПредставлениеПаспорта#,
        именуемый (ая) в дальнейшем «Покупатель», с другой стороны, а вместе именуемые «Стороны», заключили настоящий договор о нижеследующем:
    </p>

    <ol>
        <li class='margin-top-20 list-center'>Предмет договора
            <ol>
                <li class='flex'>
                    Поставка светопрозрачных конструкций из ПВХ профиля #СистемыПрофилей#, оснащенных фурнитурой #СистемыФурнитуры# (далее в тексте «Изделия»), в количестве #ОбщееКоличествоИзделий# штук, площадью S=#ОбщаяПлощадьИзделий# кв.м, согласно Заказа № #ЗаказНомер# от #ЗаказДата# (далее в тексте «Заказ»), являющегося основным сметным документом, согласованным представителями обеих сторон и прилагающегося к настоящему Договору как его неотъемлемая часть (Приложение №1).
                </li>
                <li class='flex'>
                    Наименование, количество, цена, параметры и иные индивидуальные особенности Изделий (размеры конструкции и способ открывания, формула стеклопакета, марка профиля и оконной фурнитуры, размеры отлива, откосов и подоконной доски согласовываются Сторонами в Спецификации (Приложение № 1), которая составляется, подписывается обеими Сторонами, и является неотъемлемой частью настоящего договора. Спецификация Изделий составляется на сновании Бланка Замера, согласованного с Покупателем, который является неотъемлемой частью настоящего договора (Приложение № 2) и может включать: москитные сетки, внутренние и наружные откосы (сэндвич – панели, пластиковые углы для отделки откосов), водоотливы, жалюзи, рольставни и прочее.
                </li>
                <li class='flex'>
                    Параметры изделий учитываются на основании произведенного специалистами Продавца замера проемов. В случае самостоятельного замера проемов Покупателем, ответственность за несоответствие изготовленных по этим замерам изделий Продавец не несет.
                </li>
            </ol>
        </li>


        <li class='margin-top-20 list-center'>Стоимость и порядок расчетов</li>

    </ol>

</div>

<!-- Заголовок и шапка табличной части -->
<div id='table_header'>

</div>

<!-- Строка табличной части -->
<div id='table_row'>

</div>

<!-- Строка итогов табличной части -->
<div id='table_footer'>

</div>

<!-- Подвал отчета -->
<div id='footer'>

</div>