<!-- Заголовок, шапка отчета -->
<div id='header' class='container'>
    <h3 class='text-center'>Договор №#ДоговорНомер#<br />купли-продажи изделий из ПВХ и алюминия</h3>
    <div class='block-left'>г. #ОрганизацияГород#</div>
    <div class='block-right'>#ДоговорДатаФорматD#г.</div>

    <p class='clear-both'>&nbsp;</p>
    <p>
        #Организация#, в лице #СотрудникДолжностьРП# #СотрудникФИОРП#, действующего на основании #СотрудникОснованиеРП#,
        именуемый в дальнейшем «Продавец»,  с одной стороны, и #Контрагент# паспорт серии #ПредставлениеПаспорта#,
        именуемый (ая) в дальнейшем «Покупатель», с другой стороны, а вместе именуемые «Стороны», заключили настоящий договор о нижеследующем:
    </p>

    <ol>
        <li class='margin-top-20 list-center'>Предмет договора
            <ol>
                <li class='flex'>
                    Поставка светопрозрачных конструкций из ПВХ профиля #СистемыПрофилей#, оснащенных фурнитурой #СистемыФурнитуры# (далее в тексте «Изделия»), в количестве #ВсегоИзделий# штук, площадью S=#ВсегоПлощадьИзделий# кв.м, согласно Заказа № #ЗаказНомер# от #ДатаЗаказаФорматD# (далее в тексте «Заказ»), являющегося основным сметным документом, согласованным представителями обеих сторон и прилагающегося к настоящему Договору как его неотъемлемая часть (Приложение №1).
                </li>
                <li class='flex'>
                    Наименование, количество, цена, параметры и иные индивидуальные особенности Изделий (размеры конструкции и способ открывания, формула стеклопакета, марка профиля и оконной фурнитуры, размеры отлива, откосов и подоконной доски согласовываются Сторонами в Спецификации (Приложение № 1), которая составляется, подписывается обеими Сторонами, и является неотъемлемой частью настоящего договора. Спецификация Изделий составляется на сновании Бланка Замера, согласованного с Покупателем, который является неотъемлемой частью настоящего договора (Приложение № 2) и может включать: москитные сетки, внутренние и наружные откосы (сэндвич – панели, пластиковые углы для отделки откосов), водоотливы, жалюзи, рольставни и прочее.
                </li>
                <li class='flex'>
                    Параметры изделий учитываются на основании произведенного специалистами Продавца замера проемов. В случае самостоятельного замера проемов Покупателем, ответственность за несоответствие изготовленных по этим замерам изделий Продавец не несет.
                </li>
            </ol>
        </li>


        <li class='margin-top-20 list-center'>Качество и гарантии
            <ol>
                <li class='flex'>
                    Качество изделий по настоящему договору должно соответствовать обязательным требованиям стандартов качества.
                </li>
                <li class='flex'>
                    В случае обнаружения недостатков изделий Покупатель вправе предъявлять Продавцу требования, предусмотренные действующим законодательством РФ, в течение следующих гарантийных сроков:<br>
                    • На изделия  из ПВХ профиля и фурнитуру – в течение 5 лет;<br>
                    • На изделия из Алюминиевого профиля  и фурнитуру– в течение 3 лет;<br>
                    • На материалы для внутренней  и наружной отделки проемов, балконов и лоджий, профлист, подоконную доску и водоотливы, роллетные системы, а также уплотнительные резинки — в течение 1 года;<br>
                    Исчисление указанных гарантийных сроков начинается с момента передачи результата выполненных работ Заказчику.
                </li>
                <li class='flex'>
                    В случае, если в течение гарантийного срока выявились недостатки (ухудшения качества изделий), Продавец обязуется устранить недостатки за свой счет, если не докажет, что недостатки возникли после передачи изделий вследствие нарушения Покупателем правил эксплуатации изделий, предусмотренных «Паспортом изделий из ПВХ», «Паспортом изделий из Алюминия» нормативной документацией, а также вследствие действий третьих лиц или непреодолимой силы.
                </li>
                <li class='flex'>
                    Гарантийные обязательства, предусмотренные настоящим договором, не распространяются на недостатки изделий, возникшие после передачи изделий Покупателю, вследствие повышенного уровня влажности и (или) несоблюдения температурного режима в помещении.
                </li>
                <li class='flex'>
                    Гарантийные обязательства, предусмотренные настоящим договором, не распространяются на случаи повреждения (сколы, царапины и т.п.) стеклопакетов, а также на повреждения конструкций из алюминия и ПВХ, стеклопакетов вследствие деформации линейных размеров оконных и (или) дверных проемов, произошедшие после передачи изделия Покупателю по передаточным документам. Гарантийное обслуживание осуществляется только при наличии договора и «Паспорта на изделия из ПВХ» или «Паспорта на изделия из Алюминия».
                </li>
            </ol>
        </li>

        <li class='margin-top-20 list-center'>Права и обязанности сторон
            <ol>
                <li class='flex' style="display: block">Продавец обязан:
                    <ol>
                        <li class='flex'>
                            Передать Покупателю Изделия свободными от прав третьих лиц по акту приема-передачи изделий и материала (Приложение 2), который является неотъемлемой частью настоящего договора, а также нести риск случайной утраты и (или) случайного повреждения изделий до момента передачи изделий Покупателем.
                        </li>
                        <li class='flex'>
                            Передать Покупателю Изделия по передаточным документам не позднее [СрокАкт1] рабочих дней с момента подписания настоящего договора. Переход права собственности на изделия и риска случайной утраты и (или) случайного повреждения изделий от Продавца к Покупателю происходит с момента подписания обеими сторонами акта приема-передачи. Доставка и разгрузка изделий по адресу, указанному Покупателем в соответствии с условиями настоящего договора осуществляется силами Продавца.
                        </li>
                        <li class='flex'>
                            В случае поступления письменной претензии Покупателя относительно качества изделий в течение 7 (семи) рабочих дней направить работника сервисной службы Продавца для технического обследования изделий, составления и подписания обеими сторонами соответствующего акта, в котором отражаются причины возникновения недостатков (дефектов), указываются рекомендации по устранению недостатков, а также согласовывается порядок и сроки устранения возникших недостатков.
                        </li>
                        <li class='flex'>
                            Обеспечить гарантийное и сервисное обеспечение с составлением и подписанием соответствующего акта.
                        </li>

                    </ol>
                </li>
                <li class='flex' style="display: block">Продавец вправе:
                    <ol>
                        <li class='flex'>
                            При неисполнении Покупателем обязанности оплатить стоимость изделий в срок, предусмотренный настоящим договором, потребовать возмещения своих убытков, вызванных неисполнением (ненадлежащим) исполнением Покупателем обязательств по настоящему договору.
                        </li>
                        <li class='flex'>
                            При отсутствии документов на приобретенный товар Продавец вправе отказаться от гарантийного обслуживания.
                        </li>
                        <li class='flex'>
                            Продлить срок исполнения своего обязательства по передаче изделий, предусмотренный п. 3.1.2 в связи с форс-мажорными обстоятельствами, вызванных действиями непреодолимой силы, а также в связи с вновь открывшимися обстоятельствами, которые не были предусмотрены при заключении настоящего договора по вине обоих или одной из сторон.
                        </li>
                    </ol>
                </li>
                <li class='flex' style="display: block">Покупатель обязан:
                    <ol>
                        <li class='flex'>
                            Произвести оплату стоимости изделий в размере и порядке, установленном настоящим договором.
                        </li>
                        <li class='flex'>
                            Находиться в момент доставки изделий по адресу, указанному в договоре (спецификации) либо обеспечить присутствие своего уполномоченного представителя. В противном случае вторичная доставка оплачивается Покупателем. При этом Продавец вправе нарушить срок, указанный в пункте 3.1.2 настоящего договора и установить новую дату доставки, исходя из своих возможностей и занятости.
                        </li>
                        <li class='flex'>
                            Осуществить приемку изделий по количеству, комплектации и качеству при их приеме, а также подписать акты приема-передачи в момент передачи изделий Продавцом Покупателю. В случае обнаружения недостатков изделий либо недокомплектации заказа отразить имеющиеся недостатки в акте приема-передачи изделий и материалов.
                        </li>
                        <li class='flex'>
                            В случае отсутствия возможности принять изделия в установленную Продавцом дату незамедлительно уведомить его об этом (не менее чем за 3 (три) дня до согласованной даты доставки).
                        </li>
                    </ol>
                </li>
                <li class='flex' style="display: block">Покупатель вправе:
                    <ol>
                        <li class='flex'>
                            Предоставить полномочия действовать от своего имени при приемке изделий другим лицам (уполномоченным представителям), фамилия, имя, отчество и полномочия которых указываются в п. 7.2. настоящего договора.
                        </li>
                        <li class='flex'>
                            В случаях, предусмотренных законодательством РФ, отказаться от исполнения настоящего договора до момента приема  изделий и материалов по акту приема-передачи изделий и материалов. В указанном случае, а также при условии того, что на момент отказа Покупателя изделия были готовы к передаче, Продавец возвращает Покупателю часть денежной суммы указанной в пункте 4.1 настоящего договора в течение 10 (десяти) дней с момента расторжения договора. Возвращаемая денежная сумма не может быть больше размера суммы, уплаченной Покупателем по данному договору фактически.<br />
                            Необоснованный отказ Покупателя принять товар, соответствующий предусмотренным настоящим контрактом, нормам качества и предоставленный в обусловленном количестве, налагает на него обязанность возместить Продавцу все его расходы по подготовке товара к передаче Покупателю.
                        </li>
                    </ol>
                </li>
                <li class='flex' style="display: block">
                    Каждая из сторон вправе в одностороннем порядке приостановить, либо перенести срок, указанный в пункте 3.1.2. настоящего договора, о чем другая сторона должна быть уведомлена в письменной (устной) форме не позднее 3 (трех) рабочих дней до согласованной сторонами даты доставки готовых изделий. В этом случае срок, указанный в пункте 3.1.2. настоящего договора приостанавливается с момента получения другой стороной письменного уведомления о приостановлении либо переносе срока на другую дату, которая должна быть согласована сторонами путем заключения дополнительного соглашения к настоящему договору.
                </li>
            </ol>
        </li>

        <li class='margin-top-20 list-center'>Стоимость и порядок расчетов
            <ol>
                <li class='flex'>
                    Цена договора в соответствие со Спецификацией (Приложение №1) составляет #СуммаДокумента# руб. (#СуммаДокументаПрописью#). Изменение цены договора производится Сторонами путем составления дополнительного соглашения к настоящему договору, являющегося его неотъемлемой частью.
                </li>
                <li class='flex'>
                    Покупатель производит  оплату наличным расчетом в кассу Продавца, согласованной сторонами в Приложениях к настоящему договору, стоимости товара работ (услуг) в следующем порядке: [ПечПроцентыСроки]. При этом право собственности на товар возникает у Покупателя в момент полной оплаты (ст. 491 Гражданского Кодекса Российской Федерации).
                </li>
                <li class='flex'>
                    В случае увеличения цены договора в результате дополнительных пожеланий Покупателя в части комплектации изделий, не приводящих к переделке готового изделия и не оговоренных сторонами при заключении договора и подписании спецификации, сторонами составляется и подписывается дополнительная спецификация, на основании которой Покупатель оплачивает стоимость дополнительно заказанных изделий и материалов.
                </li>
            </ol>
        </li>

        <li class='margin-top-20 list-center'>Ответственность сторон
            <ol>
                <li class='flex'>
                    В случае неисполнения или ненадлежащего исполнения обязательств, предусмотренных настоящим договором, Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
                </li>
                <li class='flex'>
                    В случае необоснованного отказа от принятия изделий из ПВХ, Покупатель возмещает Продавцу стоимость фактически понесенных Продавцом расходов, связанных с исполнением своих обязательств по договору.
                </li>
                <li class='flex'>
                    В случае нарушения срока, установленного пунктом 3.1.2. настоящего договора, Продавец оплачивает Покупателю пени в размере 0,1% от цены договора за каждый день просрочки, кроме случаев, когда нарушение срока произошло по вине Покупателя либо вызвано форс-мажорными обстоятельствами.
                </li>
            </ol>
        </li>

        <li class='margin-top-20 list-center'>Прочие условия

            <ol>
                <li class='flex'>
                    Клиент предупрежден о том, что:<br />
                    • Тонированное стекло стеклопакетов может иметь: точечные вкрапления в рассредоточенном виде, незначительные незатонированные участки стекла, царапины волосяные в рассредоточенном виде, что не является недостатком стеклопакетов. Претензии по указанным обстоятельствам не принимаются, вследствие ознакомления клиента с демонстрационным образцом тонированного стекла и согласием с его качеством.<br />
                    • В случае замены стеклопакета тонированным стеклом в рамках гарантийных обязательств, оттенок тонировки нового стеклопакета может незначительно отличаться от оттенка тонировки стеклопакета, подлежащего замене, что объясняется объективной разностью тонировки партий стекла, поступающих в распоряжение Продавца от поставщиков (изготовителей).<br />
                    • Допускается незначительное несовпадение между собой оттенков белого цвета различных элементов изделия, материалов, применяемых при выполнении работ (рама, сендвич-панель, уголки и прочее) и входящих в комплектацию, что объясняется объективной разностью партий изделий и материалов, поступающих в распоряжение Продавца от поставщиков (изготовителей).
                </li>

                <li class='flex'>
                    <div>
                        Настоящей подписью Покупатель подтверждает факт получения им полной информации о приобретаемых им изделиях, в том числе параметрах, конфигурации, комплектации, эксплуатационных свойствах, предусмотренных правилами по эксплуатации изделий из ПВХ и иных сведениях, характеризующих индивидуальные особенности изделий, а также об условиях гарантии на изделия.<br>Информацию о приобретаемых мной изделиях получил в полном объеме, с образцами ознакомлен (а)<br><br>
                        <p class="text-center small" style="width: 100%;border-top: black 1px solid;">подпись, ФИО полностью</p>
                    </div>
                </li>
            </ol>

        </li>


        <li class='margin-top-20 list-center'>Заключительные положения
            <ol>
                <li class='flex'>
                    Настоящий договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой из Сторон. Все изменения и дополнения к настоящему договору совершаются в письменной форме и должны быть подписаны обеими сторонами.
                </li>
                <li class='flex'>
                    Все споры и разногласия по настоящему договору Стороны будут стремиться разрешить путем переговоров. В случае недостижения согласия между сторонами спор передается на разрешение суда общей юрисдикции по месту нахождения Продавца с обязательным предварительным направлением письменной претензии, которая должна быть рассмотрена другой стороной в течение 10 дней с момента ее получения.
                </li>
                <li class='flex'>
                    Во всех остальных случаях, которые не предусмотрены настоящим договором, стороны будут руководствоваться действующим законодательством РФ.
                </li>
                <li class='flex'>
                    Настоящий договор вступает в силу с момента его подписания и действует до полного исполнения обязательств Сторонами.
                </li>
            </ol>
        </li>



        <li class='margin-top-20 list-center'>Реквизиты сторон</li>
    </ol>
    <table width="100%">
        <tr>
            <td width="50%"><b>Продавец:</b></td>
            <td><b>Покупатель:</b></td>
        </tr>
        <tr style="vertical-align: top">
            <td>#Организация#<br>
                #ОрганизацияАдрес#<br>
                тел: #ОрганизацияТелефон#<br>
                ИНН: #ОрганизацияИНН#<br>
                р.сч.:#ОрганизацияБанкНомерСчета# в #ОрганизацияБанкНаименование#
                БИК:#ОрганизацияБанкБИК#, кор.сч.:#ОрганизацияБанкКоррСчет#</td>
            <td>
                Контрагент<br><br>
                Паспорт серии<br><br>
                Зарегистрирован по адресу:
            </td>
        </tr>
    </table>

</div>

<!-- Заголовок и шапка табличной части -->
<div id='table_header'>

</div>

<!-- Строка табличной части -->
<div id='table_row'>

</div>

<!-- Строка итогов табличной части -->
<div id='table_footer'>

</div>

<!-- Подвал отчета -->
<div id='footer'>

</div>