<!-- Заголовок, шапка отчета -->
<div id='header' class='container'>
    <h3 class='text-center'>Договор №#ДоговорНомер#<br />купли-продажи изделий из ПВХ и алюминия</h3>
    <div class='block-left'>г. #ОрганизацияГород#</div>
    <div class='block-right'>#ДоговорДатаФорматD#г.</div>
    <p class='clear-both'>&nbsp;</p>
    <p>
        #Организация#, в лице #СотрудникДолжностьРП# #СотрудникФИОРП#, действующего на основании #СотрудникОснованиеРП#,
        именуемый в дальнейшем «Продавец»,  с одной стороны, и #Контрагент# паспорт серии #ПредставлениеПаспорта#,
        именуемый (ая) в дальнейшем «Покупатель», с другой стороны, а вместе именуемые «Стороны», заключили настоящий договор о нижеследующем:
    </p>
</div>

<!-- Заголовок и шапка табличной части -->
<div id='table_header'>

</div>

<!-- Строка табличной части -->
<div id='table_row'>

</div>

<!-- Строка итогов табличной части -->
<div id='table_footer'>

</div>

<!-- Подвал отчета -->
<div id='footer'>

</div>