<!-- Заголовок, шапка отчета -->
<div id='header' class='container'>

    <img src="#ОрганизацияЛоготип#" />

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 100px; height: 100px; float: right; padding-bottom: 4px;">
        #qrcode#
    </svg>

    <div style="font-weight: bold; font-size: 14pt; float: left; padding:4pt; clear: both">
        Счет № #ЗаказНомер# от #ДатаЗаказаФорматDD#
    </div>
    <div style="font-size: 10pt; float: right; text-align: right; padding-top: 4pt;">
        Счет действителен 3 дня. Распечатано: #ДатаТекущаяФорматD#
    </div>

    <div style="background-color:#000000; width:100%; font-size:1px; height:2px; clear: both">&nbsp;</div>

    <table width="100%">
        <tr>
            <td style="width: 30mm;">
                <div style=" padding-left:2px;">Поставщик:</div>
            </td>
            <td>
                #Организация#, ИНН #ОрганизацияИНН#, #ОрганизацияАдрес#, тел: #ОрганизацияТелефон#,
                р/с #ОрганизацияБанкНомерСчета# в #ОрганизацияБанкНаименование#, БИК #ОрганизацияБанкБИК#, к/с #ОрганизацияБанкКоррСчет#
            </td>
        </tr>
        <tr>
            <td style="width: 30mm;">
                <div style="padding-left:2px;">Покупатель:</div>
            </td>
            <td>
                #КонтрагентОписание#
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="padding-left:2px;">#МонтажДоставкаСамовывоз#</div>
            </td>
        </tr>
    </table>

</div>

<!-- Эскиз изделия + описание -->
<div id='product' style="clear: both; padding: 4pt; border-top: gainsboro 1px dashed; margin-top: 4pt;">

    <div style="width: 40%; height: 180px; float: left">
        эскиз
    </div>

    <div style="width: 55%; float: left">
        Описание
    </div>

</div>

<div id='product_description'>
    <table width="100%">
        <tbody >
        <tr><td><b>Изделие №#НомерСтроки#</b></td><td><b>Количество: #Количество# #Ед#</b>, Цвет: #Цвет#</td></tr>
        <tr><td>Размеры:</td><td>#Размеры#</td></tr>
        <tr><td>Продукция:</td><td>#Продукция#</td></tr>
        <tr><td>Заполнения:</td><td>#Заполнения#</td></tr>
        </tbody>
    </table>
</div>

<!-- Заголовок и шапка табличной части -->
<div id='table_header'>

    <table class="border" width="100%" cellpadding="2" cellspacing="2">
        <thead>
        <tr>
            <th style="width:13mm;">№</th>
            <th style="width:20mm;">Код</th>
            <th>Товар</th>
            <th style="width:20mm;">Кол-во</th>
            <th style="width:17mm;">Ед.</th>
            <th style="width:27mm;">Цена</th>
            <th style="width:27mm;">Сумма</th>
        </tr>
        </thead>
        <tbody >
        </tbody>
    </table>

</div>

<!-- Строка табличной части -->
<tr id='table_row'><td align="center">1</td><td align="left"></td><td align="left"></td><td align="right">1</td><td align="left">шт</td><td align="right">0.00</td><td align="right">0.00</td></tr>

<!-- Строка итогов табличной части -->
<div id='table_footer'>

    <table border="0" width="100%" cellpadding="1" cellspacing="1">
        <tr>
            <td></td>
            <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
            <td style="width:27mm; font-weight:bold;  text-align:right;">0.00</td>
        </tr>
    </table>

</div>

<!-- Подвал отчета -->
<div id='footer'>

    <div>
        Всего наименований 1 на сумму 0.00 рублей.<br />
        Ноль рублей 00 копеек</div>
    <br /><br />
    <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
    <br/>

    <div>Руководитель ______________________ (Фамилия И.О.)</div>
    <br/>

    <div>Главный бухгалтер ______________________ (Фамилия И.О.)</div>
    <br/>

    <div style="width: 85mm;text-align:center;">М.П.</div>
    <br/>


</div>